.grid {
	border: none;
}

.grid::before, .grid::after {
  content: " ";
  display: table
}

.grid::after {
  clear: both;
}

.unit {
	float:left;
}

.unit-r {
	float:right;
}

.gutter {
	overflow:hidden;
}

.center {
	display:block;
	overflow:hidden;
	margin: 0 auto;
}

.bottom {
	padding-bottom: 1.5rem;
}


	.unit-s-33 {
		width: 33.3333%;
	} 

	.unit-s-20 {
		width: 20%;
	}
	
	.unit-s-1-8 {
		width: 12.5%;
	}
	
	.unit-s-2-8 {
		width: 25%;
	}
	
	.unit-s-3-8 {
		width: 37.5%;
	}
	
	.unit-s-4-8 {
		width: 50%;
	}
	
	.unit-s-5-8 {
		width: 62.5%;
	}
	
	.unit-s-6-8 {
		width: 75%;
	}
	
	.unit-s-7-8 {
		width: 87.5%;
	}
	
	.unit-s-1 {
		width: 100%;
	}

@media only screen and (min-width: 30em) {
	.unit-m-33 {
		width: 33.3333%;
	} 
	
	.unit-m-20 {
		width: 20%;
	}
	
	.unit-m-1-8 {
		width: 12.5%;
	}
	
	.unit-m-2-8 {
		width: 25%;
	}
	
	.unit-m-3-8 {
		width: 37.5%;
	}
	
	.unit-m-4-8 {
		width: 50%;
	}
	
	.unit-m-5-8 {
		width: 62.5%;
	}
	
	.unit-m-6-8 {
		width: 75%;
	}
	
	.unit-m-7-8 {
		width: 87.5%;
	}
	
	.unit-m-1 {
		width: 100%;
	}
}

@media only screen and (min-width: 50em) {
	.unit-l-33 {
		width: 33.3333%;
	} 

	.unit-l-20 {
		width: 20%;
	}
	
	.unit-l-1-8 {
		width: 12.5%;
	}
	
	.unit-l-2-8 {
		width: 25%;
	}
	
	.unit-l-3-8 {
		width: 37.5%;
	}
	
	.unit-l-4-8 {
		width: 50%;
	}
	
	.unit-l-5-8 {
		width: 62.5%;
	}
	
	.unit-l-6-8 {
		width: 75%;
	}
	
	.unit-l-7-8 {
		width: 87.5%;
	}
	
	.unit-l-1 {
		width: 100%;
	}
}

@media only screen and (min-width: 70em) {
	.unit-xl-1-8 {
		width: 12.5%;
	}
	
	.unit-xl-20 {
		width: 20%;
	}
	
	.unit-xl-2-8 {
		width: 25%;
	}
	
	.unit-xl-3-8 {
		width: 37.5%;
	}
	
	.unit-xl-4-8 {
		width: 50%;
	}
	
	.unit-xl-5-8 {
		width: 62.5%;
	}
	
	.unit-xl-6-8 {
		width: 75%;
	}
	
	.unit-xl-7-8 {
		width: 87.5%;
	}
	
	.unit-xl-1 {
		width: 100%;
	}
}

@media only screen and (min-width: 100em) {
	.unit-xxl-1-8 {
		width: 12.5%;
	}
	
	.unit-xxl-2-8 {
		width: 25%;
	}
	
	.unit-xxl-3-8 {
		width: 37.5%;
	}
	
	.unit-xxl-4-8 {
		width: 50%;
	}
	
	.unit-xxl-5-8 {
		width: 62.5%;
	}
	
	.unit-xxl-6-8 {
		width: 75%;
	}
	
	.unit-xxl-7-8 {
		width: 87.5%;
	}
	
	.unit-xxl-1 {
		width: 100%;
	}
}
