/* Herro world! This file will import  your scss partials ( _example-name-syntax.scss )to be compiled into one stylesheet. That stylesheet can the be attach to your html */
/* This file imports your scss partials to be compiled */
/* Variables are places for sharing information that you want to reuse throught your stylesheet. You can store things like colors, font-stacks, or any css value you can think of. Variables are declared using '$' */
/*
$screen-s: @media only screen and (min-width: 0em);
$screen-m: @media only screen and (min-width: 30em);
$screen-l: @media only screen and (min-width: 50em);
*/
/* This file contains our mixins */
/*
@mixin button($bg-color, $color, $hover-color){
	background-color: $bg-color;
	border-radius: 3px;
	padding: .5em 1em;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	color: $color;
	&:hover {
		background-color: $hover-color;
	}
}*/
/* where the meat of your css goes, Type, Layout, other modular parts, buttons etc*/
/*
body {
	background-color: $bg;
	font-family: $sans;
}

.primary-btn {
	@include button($primary, #fff, $l1);
}

.secondary-btn {
	@include button($secondary, #000, $l2);
}

.border {
	border: 3px solid slategrey;
	p {
		background: green;
	}
}

ul {
	@extend .border;
}
*/
/* line 27, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 35, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

/* line 42, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 46, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.main-title {
  width: 100%;
  height: 100vh;
  background-color: #708090;
  letter-spacing: -3px;
  padding: 15% 0;
  position: relative;
  background-image: url(../images/starry-banner.svg); }

/* line 56, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
h1 {
  text-align: center;
  font-family: Merriweather;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  color: #FFFAF0;
  letter-spacing: 0px;
  margin-top: 0rem; }

/* line 67, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav {
  position: absolute; }

/* line 71, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav li a {
  transition: all ease-out 300ms; }

/* line 75, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav a {
  width: 100%;
  display: block;
  overflow: hidden; }

/* line 81, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav ul {
  display: block;
  margin: 0 auto;
  width: 100%; }

/* line 87, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav ul li {
  display: inline-block;
  color: #fa8072;
  font-size: 1.5rem; }

/* line 93, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.nav a:hover {
  color: #FA8072;
  font-family: Arimo;
  font-weight: 700;
  text-shadow: 1px 1px #f5f5f5; }

@media only screen and (min-width: 0em) {
  /* line 102, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .nav {
    bottom: 10%;
    width: 80%;
    left: 10%; }

  /* line 108, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 1.25rem;
    letter-spacing: 0px;
    margin-top: -0.5rem; }
 }

@media only screen and (min-width: 30em) {
  /* line 116, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .nav {
    bottom: 15%;
    width: 60%;
    left: 20%; }

  /* line 122, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    margin-top: -2rem; }

  /* line 128, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .level h2 {
    font-size: 1.25rem; }
 }

@media only screen and (min-width: 50em) {
  /* line 134, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .nav {
    bottom: 20%;
    width: 30%;
    left: 35%; }

  /* line 140, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    margin-top: -3rem; }
 }

/* line 147, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.sticky {
  position: fixed;
  background-color: #F5F5F5;
  padding: 15px 20%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  overflow: hidden;
  height: 3.5rem; }

/* line 162, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level {
  display: table;
  height: 25vh;
  padding: 5% 15%;
  text-align: center;
  vertical-align: middle;
  font-family: Arimo;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFAF0;
  width: 100%; }

/* line 175, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
h2 {
  display: table-cell;
  vertical-align: middle; }

/* line 180, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level h2 {
  font-size: 1rem; }

/* line 184, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.one {
  background-color: #FFA07A; }

/* line 188, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.two {
  background-color: #FFE4B5; }

/* line 192, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.three {
  background-color: #66CDAA; }

/* line 196, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.four {
  background-color: #48D1CC; }

/* line 200, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.five {
  background-color: #BA55D3; }

/* line 204, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level-icons {
  height: 75vh;
  display: table;
  width: 100%;
  margin: 0 auto; }

/* line 211, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level-icons ul {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  width: 100%; }

/* line 218, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level-icons ul li {
  padding: 5% 0; }

/* line 222, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level-icons ul li a {
  font-size: 1.5rem; }

/* line 226, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
ul {
  padding: 0;
  font-size: 0; }

/* line 231, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
ul li {
  list-style-type: none;
  font-size: 2rem;
  display: inline-block;
  padding: 0;
  text-align: center;
  /*	width: 25%;*/
  vertical-align: top; }

/* line 241, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.level-icons ul li i {
  font-size: 3rem; }

@media only screen and (min-width: 50em) {
  /*responds for larger screens why level-icons works and not ul I don't know */
  /* line 246, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .level-icons ul {
    padding: 0 10%; }

  /* line 250, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .level-icons ul li i {
    font-size: 5rem; }

  /* line 254, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .level-icons ul li a {
    font-size: 2rem; }

  /* line 258, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .level h2 {
    font-size: 1.5rem; }
 }

/* line 263, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
em {
  font-style: normal; }

/* line 267, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
li {
  transition: all ease-out 300ms; }

/* =========== LEVEL ONE =========== */
/* line 273, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l1-icons li {
  color: #FFA07A;
  border: 6px solid rgba(0, 0, 0, 0); }

/* line 278, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l1-icons li:hover {
  color: #f5f5f5;
  background-color: #FFA07A;
  border: 6px solid #F5F5F5; }

/* line 284, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l1-icons li:hover em {
  text-shadow: 2px 2px salmon; }

/* =========== LEVEL TWO =========== */
/* line 290, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l2-icons li {
  color: #FFE4B5;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  border-radius: 144px; }

/* line 296, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l2-icons li em {
  opacity: 0; }

/* line 300, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l2-icons li:hover {
  color: #DAA520;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  border-radius: 20px;
  background-color: #FFE4B5; }

/* line 307, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l2-icons li:hover em {
  opacity: 1; }

/* line 311, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l2-icons li:hover ~ .three {
  color: #FFE4B5; }

/* =========== LEVEL THREE =========== */
/* line 317, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l3-icons li {
  color: #66CDAA; }

/* line 321, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.btn-3 {
  background-color: #66CDAA;
  border-radius: 8px;
  padding: -1rem;
  color: #F5F5F5; }

/* line 328, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.solar {
  display: block;
  overflow: auto; }

/* line 333, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.btn-3:hover i {
  opacity: 0;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px); }

/* line 338, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.btn-3:hover ~ li {
  -webkit-transform: translateY(400px);
      -ms-transform: translateY(400px);
          transform: translateY(400px);
  transition: all ease-out 200ms; }

/* =========== LEVEL FOUR =========== */
/* line 345, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l4-icons li {
  color: #48D1CC;
  border: 4px solid rgba(100, 100, 100, 0); }

/* line 350, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l4-icons li:hover {
  border-bottom: 4px solid #f5f5f5;
  border-top: 4px solid #f5f5f5;
  -webkit-transform: translate(6px, -6px);
      -ms-transform: translate(6px, -6px);
          transform: translate(6px, -6px);
  color: #f5F5f5;
  text-shadow: 2px 2px #48D1CC; }

/* =========== LEVEL FIVE =========== */
/* line 360, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l5-icons li {
  color: #BA55D3;
  border: 4px solid rgba(0, 0, 0, 0); }

/* line 365, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l5-icons li:hover {
  color: #F5F5F5; }

/* line 369, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l5-icons li:hover em {
  display: none; }

/* line 373, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.l5-icons li:hover i {
  font-size: 10rem;
  text-shadow: 2px 2px #BA55D3; }

@media only screen and (min-width: 50em) {
  /* line 380, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
  .l5-icons li:hover i {
    font-size: 15rem; }
 }

/* =========== ICON LEVELS =========== */
/* line 387, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.iconone {
  background-color: rgba(250, 128, 114, 0.4); }

/* line 391, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.icontwo {
  background-color: rgba(255, 228, 181, 0.35); }

/* line 395, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.iconthree {
  background-color: rgba(102, 205, 170, 0.5); }

/* line 399, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.iconfour {
  background-color: rgba(72, 209, 204, 0.5); }

/* line 403, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
.iconfive {
  background-color: rgba(186, 85, 211, 0.5); }

/* line 407, /Users/gabrielayon/Documents/Algonquin College/6th Sem Winter/Web Dev/exercise-2-scss/scss/components/main */
a {
  text-decoration: none;
  color: inherit; }
