/* This file contains our mixins */
/*
@mixin button($bg-color, $color, $hover-color){
	background-color: $bg-color;
	border-radius: 3px;
	padding: .5em 1em;
	margin: 1em;
	display: inline-block;
	text-decoration: none;
	color: $color;
	&:hover {
		background-color: $hover-color;
	}
}*/


@mixin transition ($wk-trans, $mz-trans, $ms-trans, $o-trans, $t-trans){
	-webkit-transition: $wk-trans;
	-moz-transition: $mz-trans;
	-ms-transition: $ms-trans;
	-o-transition: $o-trans;
	transition: $t-trans;

}