/*
body {
	background-color: $bg;
	font-family: $sans;
}

.primary-btn {
	@include button($primary, #fff, $l1);
}

.secondary-btn {
	@include button($secondary, #000, $l2);
}

.border {
	border: 3px solid slategrey;
	p {
		background: green;
	}
}

ul {
	@extend .border;
}
*/

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}
